.answerCard {
    margin: 2rem auto;
    padding: 1.1rem;
    width: 600px;
}

.description {
    font-size: 1.2rem;
    padding: 1.2rem 0;
}

.studentAnswer {
    font-size: 1.2rem;
}

.form {
    padding: 1.1rem;
}

.score-input {
    width: 200px;
}

.confirmBtn {
    margin: 1.2rem 0;
}